.foot {
    position: relative;
    /* top: 6837px; */
    width: 100%;
    height: calc(var(--index)*13);
    display: flex;
    align-items: center;
    background: url(/img/aeroport-vnukovo.png);
    background-size: cover;
    background-position: center;
    z-index: 3;
}

.foot .map {
    position: absolute;
    width: 25.8%;
    height: calc(var(--index)*10.6);
    left: 3.2%;
    /* background-color: violet; */
}
.map iframe {
    width: 100%;
    height: 100%;
    box-shadow: 0px calc(var(--index)*2) calc(var(--index)*2) 0px rgba(0, 0, 0, 1.69);    
    border-radius: calc(var(--index)*0.5);
}

.foot .name__company {
    position: absolute;
    width: 30.3%;
    left: 30.7%;
    /* background-color: violet; */
}
.name__company_title {
    width: 100%;
    /* background-color: #000; */
}
.name__company_title h1 {
    font-size: calc(var(--index)*1.4);
    text-shadow: calc(var(--index)*0.1) calc(var(--index)*0.1) calc(var(--index)*0.1) #000;
}
.name__company_address {
    width: 100%;
    padding-top: calc(var(--index)*0.6);
    /* background-color: darkgray; */
}
.name__company_address a {
    line-height: calc(var(--index)*1);
    font-size: calc(var(--index)*0.8);
    color: #fff;
    text-shadow: calc(var(--index)*0.1) 1px calc(var(--index)*0.1) #000;
}
.name__company_metro {
    width: 100%;
    display: flex;
    padding-top: 1%;
    /* background-color: darkolivegreen; */
}
.name__company_metro_img {
    width: 7%;
    display: flex;
    align-items: center;
    padding-top: 1.4%;
    /* background-color: aqua; */
}
.name__company_metro_img img {
    width: 100%;
}
.name__company_metro_title {
    width: 93%;
    display: flex;
    align-items: center;
    padding-left: 1%;
    /* background-color:slategray; */
}
.name__company_metro_title a {
    font-size: calc(var(--index)*0.8);
    color: #fff;
}

.foot .contacts {
    position: absolute;
    top: calc(var(--index)*6.7);
    width: 25%;
    left: 64.7%;
    /* background-color: violet; */
}
.contacts__title {
    width: 100%;
    /* background-color: #000; */
}
.contacts__title h1 {
    font-family: robotoflex-c;
    text-transform: uppercase;
    font-size: calc(var(--index)*0.7);
    text-shadow: calc(var(--index)*0.1) 1px calc(var(--index)*0.1) #000;
}
.contacts__blok {
    width: 100%;
    padding-top: calc(var(--index)*0.3);
    display: flex;
    /* background-color: darkgray; */
}
.contacts__blok_img {
    width: 6.7%;
    padding-top: calc(var(--index)*0.1);
    /* background-color: chocolate; */
}
.contacts__blok_img img {
    width: 100%;
}
.contacts__img_mess {
    padding-top: calc(var(--index)*1.2);
}
@media (max-width: 830px) {
    .contacts__img_mess {
    padding-top: calc(var(--index)*1.1);
    }
}
.contacts__blok_p {
    width: 93.3%;
    padding-left: calc(var(--index)*0.1);
    /* background-color: aquamarine; */
}
.contacts__blok_p p {
    font-family: robotoflex-c;
    line-height: calc(var(--index)*1.2);
    font-size: calc(var(--index)*0.7);
    letter-spacing: calc(var(--index)/17);
    text-shadow: calc(var(--index)*0.12) 2px calc(var(--index)*0.12) #000;
}

.foot .messengers {
    position: absolute;
    width: 3%;
    left: 93%;
    display: block;
    /* background-color: violet; */
}
.messengers img {
    width: 100%;
    padding-bottom: calc(var(--index)*0.8);
}
